div.block
{
    text-align: center;
}

button 
{
    /* ブラウザ特有のスタイルを無効に */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  
    /* 整える */
    margin: 1em 0; /* 前後の隙間 */
    padding: 0.6em 1em; /* 塗りの余白 */
    font-size: 1em; /* フォントサイズ */
    background-color: #31D853; /* 背景色 */
    color: black; /* テキストカラー */
    cursor: pointer; /* カーソルを指マークに */
    border-radius: 3px; /* 角の丸み */
    border: 0; /* 枠線を消す */
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    transition: 0.3s; /* ホバーの変化を滑らかに */
}
  
/* ホバー時（カーソルをのせた時）の見た目 */
button:hover 
{
    background-color: #359E4B; /* 背景色 */
}

.kakomi
{
    margin:2em 0;
    position: relative;
    padding:2px;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}
.kakomi:before, .kakomi:after
{
    content: '';
    position: absolute;
    top: -10px;
    width: 0.5px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
}
.kakomi:before {left: 10px;}
.kakomi:after {right: 10px;}
